VITE_WARILO_DATA_MODE=supabase
VITE_SUPABASE_URL=https://hkihdjqnjqauivxujaji.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_APP_PRIMARY_DOMAIN=https://yapalaan.com
VITE_APP_SECONDARY_DOMAIN=https://yapalaan.ci
